*.pyc
*.pyo
*.class
*.log
*.iml
.coverage.*
htmlcov

/node_modules/
package-lock.json
/nosetests.xml

.env
!.devcontainer/**/.env
venv
/.venv*
/.coverage
.settings/
.project
.classpath
.DS_Store
*.egg-info/
.eggs/
.vagrant/
*.sw*
~*
*~

node_modules/
/build/
/dist/
/target/

.idea
.vscode

**/obj/**
**/lib/**

!bin/docker-entrypoint.sh

requirements.copy.txt
.serverless/

**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan
*.terraform.lock.hcl

.python-version

venv
api_states

tmp/

volume/

# lambda packages
lambdas/*/package/
lambdas/*/lambda.zip
terraform/*/*.zip

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc